.message-container {
background-color: #F8E2CF;
text-align: left;
padding: 10px 10px;
text-align: left;
width: 70%;
margin: 20px auto 20px auto;
border-radius: 10px;
line-height: 2rem;
}


.btn {
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  color: white;
}

#messages {
text-align: center;
border-radius: 5px;

}

#chat-input {
  width: 60%;
  margin: auto;}

h1 {
  padding: 10px;
}
.author {
  color: grey;
  display: flex;
  justify-content: space-between;
}
.time {


}
