.message-container {
background-color: #F4F4F4;
}

.btn-info {
  border-radius: 10px;
}

#messages {
text-align: center;
}

.message-container {
text-align: left;
padding: 20px;
}

#chat-input {
  width: 60%;
  margin: auto;
}

.content {

}
