.message-container {
background-color: #F8E2CF;
text-align: left;
padding: 10px 10px;
width: 70%;
margin: 20px auto 20px auto;
border-radius: 10px;
line-height: 2rem;
}


.btn-chat {
  border-radius: 10px;
  padding: 10px 50px 10px 50px;
  color: white;
}

#messages {
margin: auto;
border-radius: 5px;
border: aqua;
border-style: double;
border-color: #F8E2CF;
background-color: white;
height: 500px;
width: auto;
overflow-y: scroll;
}

#chat-input {
  width: 60%;
  margin: 20px auto;
}

.h1-chat {
  padding: 10px;
}
.author {
  color: grey;
  display: flex;
  justify-content: space-between;
}
.content {
margin: auto;
padding: 10px 10px ;
}
