.heading-style {
  margin-top: 50px;
  color: grey;
  margin-bottom: 25px;
  text-align: center;
}


.incoming {
  margin: 0 auto;
  width: 50vw;
  min-height: 100px;
  margin-bottom: 25px;
}

.outgoing {
  margin: 0 auto;
  width: 50vw;
  min-height: 100px;
  margin-bottom: 25px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  height:175px;
  border-radius: 20px;
}

.card-product img {
  height: 100%;
  width: 220px;
  background-size: cover;
  // object-fit: cover;
  border-radius: 5px;
}

.card-product h2, a {
  color: black;
  opacity: .9;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.requestbtn {
  margin-top: 10px;
}

.chat-link {
  margin-top: 0 auto;
  margin-left: 150px;
}

.incomingchat-link {
  margin-top: 10px;
}

.card-product-infos ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.status {
  &.accepted:before {
    background-color: #7FC8A9;
    border-color: #7FC8A9;
    box-shadow: 0px 0px 4px 1px #7FC8A9;
  }

  &.pending:before {
    background-color: #FF947A;
    border-color: #FF947A;
    box-shadow: 0px 0px 4px 1px #FF947A;
  }

  &.declined:before {
    background-color: #FF6B6B;
    border-color: #FF6B6B;
    box-shadow: 0px 0px 4px 1px #FF6B6B;
  }

  &:before {
    content: ' ';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    border: 1px solid #000;
    border-radius: 12px;
  }
}
