<div class="cards-container">

  <div class="card-container">
    <div class="activity-details">
      <h1>Tree House</h1>
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="far fa-star" aria-hidden="true"></i>
      </span>
      <p class="information">
      "Bernard wants to build a treehouse. Join him in Marzahn for Each One Teach One and become a master in treehouse-building!"
      </p>
    </div>
    <div class="activity-image">
      <img src=" https://images.unsplash.com/photo-1615887926894-6c02d52e2edf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dHJlZSUyMGhvdXNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Tree House">
      <div class="info">
        <h3>Description</h3>
        <ul>
          <li><strong>Host :</strong> Bernard</li>
          <li><strong>Location :</strong> Berlin</li>
          <li><strong>Duration :</strong> 4days</li>
          <li><strong>Experience level :</strong> Beginner</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="activity-details">
      <h1>Pottery</h1>
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>

       </span>

      <p class="information">
      "Sascha loves pottery and looks for like-minded participants for his pottery activity in Neukölln."
      </p>
    </div>
    <div class="activity-image">
      <img src="https://images.unsplash.com/photo-1590605095243-072811dbe64c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" alt="Pottery">
      <div class="info">
        <h3>Description</h3>
        <ul>
          <li><strong>Host :</strong> Sascha</li>
          <li><strong>Location :</strong> Berlin</li>
          <li><strong>Duration :</strong> 2 days</li>
          <li><strong>Experience level :</strong> Intermediate</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="activity-details">
      <h1>Sports</h1>
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="far fa-star" aria-hidden="true"></i>
      </span>
      <p class="information">
      "Michael invites for a weekly Tai-Chi-circle in Moabit.He welcomes any experience level. Connect with him and join this activity."
      </p>
    </div>
    <div class="activity-image">
      <img src=" https://images.unsplash.com/photo-1598371391798-5a4a7e8b1393?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHNwb3J0cyUyMGJpa2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Sports">
      <div class="info">
        <h3>Description</h3>
        <ul>
          <li><strong>Host :</strong> Michael</li>
          <li><strong>Location :</strong> Berlin</li>
          <li><strong>Duration :</strong> 1day</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="activity-details">
      <h1>Art and Craft</h1>
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>

        </span>
      <p class="information">
      "Nayab offers a kids arts and craft activity. Join her in Mitte to have fun with your angels!"
      </p>
    </div>
    <div class="activity-image">
      <img src="https://images.unsplash.com/photo-1558204098-f1a1ebc50a95?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGtpZHMlMjBhcnQlMjBhbmQlMjBjcmFmdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Art and craft">
      <div class="info">
        <h3>Description</h3>
        <ul>
          <li><strong>Host :</strong> Nayab</li>
          <li><strong>Location :</strong> Berlin</li>
          <li><strong>Duration :</strong> 1 day</li>
          <li><strong>Experience level :</strong> Beginner</li>
        </ul>
      </div>
    </div>
  </div>

</div>
