<div id="container">
  <div class="activity-details">
    <h1>Tree House</h1>
    <span class="hint-star star">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    </span>

    <p class="inforamtion">"Tanja wants to build a treehouse. Join Tanja in Marzahn for Each One Teach One and become a master in treehouse-building!
."</p>
  </div>

    <div class="activity-image">
      <img src=" https://images.unsplash.com/photo-1615887926894-6c02d52e2edf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dHJlZSUyMGhvdXNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Tree House">

      <div class="info">
        <h3>Description</h3>
        <ul>
          <li><strong>Host :</strong> Bernard</li>
          <li><strong>Location :</strong> Berlin</li>
          <li><strong>Duration :</strong> 4days</li>
          <li><strong>Starting from :</strong> 2nd Sept</li>
          <li><strong>Experience level :</strong> Beginner</li>
          </ul>
      </div>

    </div>

</div>










</div>
