<div class="container">

  <div class="card-home-container">
    <%= link_to activities_path(activity: { category: 'Handicrafts', address: '' }) do %>
      <img class="category-image" src="https://images.unsplash.com/photo-1615640325967-af4cfa4c0c6a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGFuZGljcmFmdHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" width=100 height=100>
          <div class="info-card-home">
            <h3> Handicrafts </h3>
            <p><small>Craft the things you want</small></p>
          </div>
    <% end %>

  <div class="card-home-container">
    <%= link_to activities_path(activity: { category: 'Adventure', address: '' }) do %>
    <img class="category-image" src="https://images.unsplash.com/photo-1527610276295-f4c1b38decc5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGFkdmVudHVyZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" width=100 height=100>
        <div class="info-card-home">
        <h3> Adventure </h3>
        <p><small>Adventure or nothing</small></p>
        </div>
    <% end %>


    <div class="card-home-container">
        <%= link_to activities_path(activity: { category: 'Games', address: '' }) do %>
          <img class="category-image" src="https://images.unsplash.com/photo-1539387893102-c0e198446a35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGdhbWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" width=100 height=100>
          <div class="info-card-home">
            <h3> Games </h3>
            <p><small>Join and play</small></p>
          </div>
      <% end %>

      <div class="card-home-container">
        <%= link_to activities_path(activity: { category: 'Education', address: '' }) do %>
          <img class="category-image" src="https://images.unsplash.com/photo-1539387893102-c0e198446a35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fGdhbWVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" width=100 height=100>
          <div class="info-card-home">
            <h3> Education </h3>
            <p><small>A family of learning</small></p>
          </div>
      <% end %>












</div>
