
<%= render 'shared/banner' %>
<div class="container">
  <h2 style="text-align: center"><strong> Activities </strong></h2>
<%= render 'shared/homebuttons' %>
</div>

<div class="container">
  <h2 style="text-align: center">Find interesting activities in your area!</h2>
  <%= render 'shared/highlightcards' %>
</div>
