
<%= render 'shared/banner' %>
<div class="container">

<%= render 'shared/homebuttons' %>
</div>

<div class="container">
  <h2 class="header" style="text-align: center">Trending</h2>
  <%= render 'shared/highlightcards' %>
</div>
