.search {
  width: 99vw;
}

.activity-flex {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  // padding-top: 40px;
}

.activity_cards {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
  margin-right: 20px;
  text-decoration: none;
  margin-left: 18px;
  margin-top: 10px;
}

.card-activity {
  overflow: hidden;
  width: 48vw;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;
  text-decoration: none;
}

.card-activity img {
  height: 100%;
  width: 33%;
  object-fit: fill;
}

.card-activity h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-activity a {
  color:#69676b;
  text-decoration: none;
}

.card-activity a:hover {
  color:#FF947A;
  text-decoration: none;
}

.card-activity p {
  width: 60%;
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-activity .card-activity-infos {
  padding: 16px;
}

.right {
  width: 100%;
  height: 100%;
  position: sticky;
  top: 0;
}

.map {
  height: 100vh;
}
