.flex-container {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 80vw;
  padding-bottom: 10px;
}

.upper-card {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.activity-text {
  margin: 15px 15px 30px 15px;
  width: 100%;
  font-weight: normal;
}

.edit-buttons {
  width: 460px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.act-image {
  height: 100%;
  object-fit: cover;
}

.activity-details {
  text-align: start;
  position: top;
}

.cat-box > span {
  background-color: #FF947A;
}
