.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 0.5;
  padding-top: 10px;
}

#map {
position: sticky;
top: 100px;
border-radius: 20px;
}
