.entire-sbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
  padding-top: 35px;
}

.search-bar{
  background: rgba(0,0,0,0.1);
  border-radius: 8px;

  form {
    padding: 5px 20px 10px 20px;
  }
}

.btn-go {
  height: 100%;
  background: coral;
  margin-left: 1rem;
  border-radius: 8px;
}

.btn-font {
  color: white !important;
  font-weight: bolder !important;

}

.form-control.select, .form-control.string {
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
}

.optional.activity_category > label {
  font-weight: bolder;
}

.optional.activity_address > label {
  font-weight: bolder;
}

.form-group.string.optional.activity_address {
  flex-flow: nowrap;
}
