<div>
<%= cl_image_tag activity.photo.key, height: 150, width: 200, crop: :fill %>
<h2><%= link_to activity.title, activity_path(activity), style: "font-size: 18px" %></h2>
<p><%= activity.address %></p>
</div>
