<div class="container">
  <h1>This is our activities index page</h1>
  <p>It really is...</p>

  <%= link_to "Get your activity listed!", new_activity_path, class: "btn btn-outline-warning" %>
</div>
